[submodule "third_party/xquic"]
	path = third_party/xquic
	url = https://github.com/r11234567/xquic.git
	branch = debug-initial-packet-size
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = https://github.com/mp0rta/heiher-lwip.git
	branch = mqvpn-main
